// index.css

h1, h2 {
  color: green;
  font-style: italic;
}

.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.success {
  color: green;
  border-color: green;
}

.failure {
  color: red;
  border-color: red;
}

input::placeholder {
  color: #a9a9a9; // Darker than lightgrey for better accessibility
  opacity: 1; // Ensure full opacity in Firefox
  font-weight: 300;
  font-size: 0.9em;  // Slightly smaller than default text.
}
